<div class="container">
	<div class="col-md-12">
		<%=render "categories"%>
		<div class="pregunta">
			<div class="pull-left">
						<%if @post.user.avatar.url.present?%>
						<%= image_tag @post.user.avatar_url() if @post.user.avatar_url%>
						<%else%>
						 <%= image_tag ("default.jpg")%>
						<%end%>
		</div>
			<h1><%=@post.title%></h1>
			<span>Posteado por <%=@post.user.email%> hace <%=time_ago_in_words(@post.created_at)%></span>
		<div class="description">
					<p><%=@post.body%></p>
		</div>
			<div class="float-right">
				<% if user_signed_in? and @post.user and current_user == @post.user%>
				<%=link_to "Editar",edit_post_path(@post)%> 
				<%=link_to "Eliminar",@post,method: :delete%> 
				<%end%>
			</div>
		</div>
</div>
<hr>
<div class="col-md-12 comments">
		<div class="comment-box">
			<%@post.comments.each do |comment|%>
			<div class=" contenido contenido-comentarios">	
		<div class="pull-left">
					<%if comment.user.avatar.url.present?%>
						<%= image_tag comment.user.avatar_url() if comment.user.avatar_url%>
						<%else%>
						<%= image_tag ("default.jpg")%>
						<%end%>
		</div>
				<h4><%= comment.user.email%></h4> 
				<div class="description">
					<p><%=comment.body%></p>
				</div>
			</div>
			</div>
			<%end%>
				<%if user_signed_in? %>
		  <%=render "comments/form"%>
		 <%end%>
	</div>
</div>